.width-280px {
    width: 280px;
}

.width-100px {
    width: 120px;
}

.display-none {
    display: none;
}

.display-inline-block {
    display: inline-block;
}

.center-align {
    text-align: center;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.cell-dimensions {
    width: 40px;
    height: 34px;
}

.background-transparent {
    background-color: Transparent;
}

.border-none {
    border: none;
}

.calibri {
    font-family: Calibri, "Trebuchet MS", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.font-size-20px {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}